<mat-toolbar color="primary">
  <span class="title">
    <fa-icon [icon]="faAngular" size="xl"></fa-icon>
    {{ title }}
  </span>
  <span class="spacer"></span>
  <a mat-icon-button href="https://github.com/bobbyg603/ng-testing-tips-ng-mocks" target="_blank" rel="noopener noreferrer"
    aria-label="ngx-testing-tips on GitHub">
    <fa-icon [icon]="faGithub"></fa-icon>
  </a>
  <a mat-icon-button href="https://bobbyg603.medium.com" target="_blank" rel="noopener noreferrer"
    aria-label="@bobbyg603 on Medium">
    <fa-icon [icon]="faMedium"></fa-icon>
  </a>
  <a mat-icon-button href="https://twitter.com/bobbyg603" target="_blank" rel="noopener noreferrer"
    aria-label="@bobbyg603 on Twitter">
    <fa-icon [icon]="faTwitter"></fa-icon>
  </a>
</mat-toolbar>
<div class="main-content">
  <div class="form">
    <div class="breeds">
      <app-form [breeds]="(breeds$ | async)!" [breed]="breed" [count]="count"
        (formChange)="onFormChange($event)"></app-form>
    </div>
  </div>
  <div class="cards">
    <mat-spinner *ngIf="loading$ | async"></mat-spinner>
    <app-card *ngFor="let dog of dogs$ | async" [imgSrc]="dog"></app-card>
  </div>
</div>